<!--NAVIGATION-->
<mat-nav-list>
  <a mat-list-item routerLink="/introduction" (click)="onSidenavClose()">
    <span class="nav-caption">Introduction</span>
  </a>
  <a mat-list-item routerLink="/history" (click)="onSidenavClose()">
    <span class="nav-caption">History</span>
  </a>
  <a mat-list-item routerLink="/framework" (click)="onSidenavClose()">
    <span class="nav-caption">Framework</span>
  </a>
  <a mat-list-item routerLink="/dependencies" (click)="onSidenavClose()">
    <span class="nav-caption">Dependencies</span>
  </a>
  <a mat-list-item routerLink="/data-sharing" (click)="onSidenavClose()">
    <span class="nav-caption">Data Sharing</span>
  </a>
</mat-nav-list>
