.carousel-container {
  width: 100%;
  height: 90%;
}

:host ::ng-deep {
  .igx-carousel {
    max-width: 100%;
    width: unset;
  }

  .igx-nav-dot {
    background: #a6a6a6;
    box-shadow: none;
    width: 15px;
    height: 15px;
  }

  .igx-slide {
    background: transparent;
    justify-content: center;
    align-items: flex-start;
    max-height: 100%;
    max-width: 100%;
  }

  .mat-mdc-card{
    justify-content: center;
    display: flex;
    flex-direction: row;
  }
}
