<div class="carousel-container">
  <igx-carousel>
    <igx-slide>
      <div class="slide-content-wrapper">
        <app-cli-component></app-cli-component>
      </div>
    </igx-slide>
    <igx-slide>
      <div class="slide-content-wrapper">
        <app-component-component></app-component-component>
      </div>
    </igx-slide>
    <igx-slide>
      <div class="slide-content-wrapper">
        <app-service-component></app-service-component>
      </div>
    </igx-slide>
    <igx-slide>
      <div class="slide-content-wrapper">
        <app-directive-component></app-directive-component>
      </div>
    </igx-slide>
    <igx-slide>
      <div class="slide-content-wrapper">
        <app-router-component></app-router-component>
      </div>
    </igx-slide>
  </igx-carousel>
</div>
