<mat-card>
  <mat-card-content>
    <h1> Angular in a nutshell </h1>
    <span> Angular is Fun! </span>
    <ol>
      <li><strong>When?</strong></li>
      <p>Angular was first introduced by Google in 2010 as AngularJS, a JavaScript-based open-source front-end web framework. It underwent significant changes over the years and evolved into Angular, with AngularJS being the first version, Angular 2+ following suit, and so on.</p>
      <li><strong>What it does?</strong></li>
      <p>Angular is a platform and framework for building client-side web applications using HTML, CSS, and TypeScript/JavaScript. It provides developers with tools and libraries for building robust, scalable, and maintainable applications, including features like data binding, dependency injection, component-based architecture, routing, and more.</p>
      <li><strong>Why it was introduced?</strong></li>
      <p>Angular was introduced to address the challenges faced by developers in building single-page applications (SPAs) and to provide a structured framework for creating dynamic, interactive web applications. It aims to simplify the development process by promoting modularization, reusability, and maintainability of code, enabling developers to build complex applications more efficiently.</p>
      <li><strong>What are other options?</strong></li>
      <p>It is not a single player and there are alternatives. React(Similar), Vue(Light weight and easy but less capable), Aurelia(Light and JS based).</p>
    </ol>
    <br/>
  </mat-card-content>
</mat-card>

