<mat-card>
  <mat-card-content>
    <h1> Dependencies. </h1>
    <span> Dependencies Boost Angular's Power! </span>
    <br/><br/>
    <span> Angular's offers smooth dependency injection mechanism that manages injection and availability of this dependencies across application. This ensure that components remain loosely coupled and easily testable, promoting code reusability and maintainability.</span>
    <br/>
    <span> Most common dependencies.</span>
    <br/>
    <ol>
      <li><strong>Angular Forms</strong></li>
      <p>Angular Forms is a module provided by Angular for building and managing forms in Angular applications. It
        offers both template-driven and reactive form approaches to create forms with validation, data binding, and
        submission handling. </p>
      <li><strong>Angular Material</strong></li>
      <p>Angular Material is a UI component library for Angular applications that follows the Material Design principles
        developed by Google. It provides a set of pre-built and customizable UI components such as buttons, cards,
        dialogs, data tables, and more. </p>
      <li><strong>RxJs</strong></li>
      <p>RxJS, or Reactive Extensions for JavaScript, is a library for reactive programming using Observables. It
        enables developers to work with asynchronous data streams and manage complex asynchronous operations in a more
        declarative and composable way. RxJS is heavily used in Angular applications for handling events, managing HTTP
        requests, implementing data flow, and facilitating state management using the observable pattern.</p>
      <li><strong>SAP Fundamental NGX</strong></li>
      <p>SAP Fundamental NGX is a UI component library developed by SAP that provides a set of reusable components for
        building SAP Fiori applications with Angular. It offers a collection of UI elements, layout components, and
        patterns designed to align with SAP Fiori design guidelines. SAP Fundamental NGX simplifies the development of
        enterprise-grade Angular applications by providing ready-to-use components for building consistent and
        user-friendly interfaces in line with SAP Fiori standards.</p>
    </ol>
    <br/>
  </mat-card-content>
</mat-card>
