<mat-card>
  <mat-card-content>
    <h1> Router. </h1>
    <div class="grid-container">
      <div class="grid-item item1">
        <span> Drives the navigation! </span>
        <br/><br/>
        <span>Router is a framework that grants smooth site navigation. <br/> It enables developers to build Single Page Applications (SPA) by managing the navigation between different views or components within the application.</span>
        <br/><br/>
      </div>
      <div class="grid-item item2">
        <app-editor [code]="code"></app-editor>
      </div>
    </div>
  </mat-card-content>
</mat-card>

