<mat-card>
    <mat-card-content>
      <h1> Introduction. </h1>
      <div class="grid-container">
        <div class="grid-item item1">
          <span> Welcome to Angular Knowledge sharing! Web page technologies:</span>
          <ol>
            <li><strong> DOM </strong></li>
            <p> Static page representation or Document that includs scripts and sources. Can become very large. </p>
            <li><strong> CSS </strong></li>
            <p> Styles and decorations rules for the document. Can become very controversial and cause maintainability issues, performance bottlenecks too. </p>
            <li><strong> Java Script </strong></li>
            <p> DOM Modification monopolist. "Breathes life into HTML". It adds dynamic behavior, interactivity, and functionality to static HTML documents. It has problems too: </p>
            <ul>
              <li>Maintenance Complexity.</li>
              <li>Not optimal usage and overuse.</li>
              <li>Performance.</li>
              <li>Security.</li>
              <li>Events pressure.</li>
            </ul>
          </ol>
          <br/>
        </div>
        <div class="grid-item item2">
          <app-editor [code]="code"></app-editor>
        </div>
      </div>
    </mat-card-content>
</mat-card>
