<mat-card>
  <mat-card-content>
    <h1> Angular CLI. </h1>
    <span> CLI is supper usefull but sometimes not seen behind IDE. </span>
    <ol>
      <li><strong>New!</strong> - This will generate a new project with boilerplate code and settings.</li>
      <p>Example: <code>ng new my-project</code></p>

      <li><strong>Generate!</strong> - Generate new Angular module, component, or any other Angular-related object.</li>
      <p>Example: <code>ng generate component my-component</code></p>

      <li><strong>Serve!</strong> - Start a development server with live reload capabilities using the <code>ng serve</code> command.</li>
      <p>Example: <code>ng serve</code></p>

      <li><strong>Build!</strong> - This compiles your application, bundles the files, and optimizes them for deployment.</li>
      <p>Example: <code>ng build --prod</code></p>

      <li><strong>Test!</strong> - Built-in support for running unit tests and end-to-end tests using tools like Karma and Protractor.</li>
      <p>Commands: <code>ng test</code> for running unit tests and <code>ng e2e</code> for running end-to-end tests.</p>

      <li><strong>Doc!</strong> - Angular CLI can generate documentation for your Angular application using the <code>ng doc</code> command.</li>
      <p>Example: <code>ng doc</code></p>

      <li><strong>Add!</strong> - You can add new dependencies to your Angular project using the <code>ng add</code> command. This command can also automatically configure the project for the added dependency.</li>
      <p>Example: <code>ng add &#64;angular/material</code></p>

      <li><strong>Lint!</strong> - Angular CLI integrates with TSLint to help you maintain code quality by identifying and fixing linting errors.</li>
      <p>Command: <code>ng lint</code></p>
    </ol>
    <app-editor [code]="code"></app-editor>
  </mat-card-content>
</mat-card>

