<mat-card>
  <mat-card-content>
    <h1> Unit & Component Testing. </h1>
    <div class="grid-container">
      <div class="grid-item item1">
        <span> Angular's quality components! </span>
        <ol>
          <li><strong>&#64;angular/core/testing</strong></li>
          <p>TestBed: utility that provides a testing module environment for configuring and creating instances of components, services, directives, and pipes for testing purposes. It allows you to set up the necessary dependencies and configurations required for testing components in isolation or within a test suite.</p>
          <p>Fixture: provides component object with methods and properties for interacting with the component instance and its associated DOM element during testing. This allows you to inspect the component's properties, trigger change detection, and interact with its DOM elements for testing and validation purposes.</p>
          <li><strong>Jasmine.</strong></li>
          <p>Testing framework that provides test execution, reporting, coverage test setup and orchestration.</p>
          <li><strong>Karma.</strong></li>
          <p>Is an utility tool that enables integration between Angular app, tests and browsers. Karma starts a development server and runs browser(s) that will perform testing activities.</p>
        </ol>
        <br/>
      </div>
      <div class="grid-item item2">
        <app-editor #editor [code]="code" [language]="'typescript'"></app-editor>
      </div>
    </div>
  </mat-card-content>
</mat-card>

