<mat-card>
  <mat-card-content>
    <h1> Component. </h1>
    <div class="grid-container">
      <div class="grid-item item1">
        <span> Fundamental element of Angular! </span>
        <ol>
          <li><strong>Template:</strong></li>
          <p>Represents the isolated view of the component, defining its DOM structure and bindings.</p>
          <li><strong>Class:</strong></li>
          <p>Represents the TypeScript class associated with the component. It facilitates the manipulation of the template, performs calculations, and reacts to lifecycle events through methods known as lifecycle hooks.</p>
          <li><strong>Styles:</strong></li>
          <p>Consist of CSS styles that are applied to the component's template, providing visual decoration and layout.</p>
          <li><strong>Test:</strong></li>
          <p>Refers to the tools and methodologies used to test the behavior and functionality of the component, ensuring its correctness and reliability.</p>
        </ol>
        <br/>
      </div>
      <div class="grid-item item2">
        <app-editor [code]="code"></app-editor>
      </div>
    </div>
  </mat-card-content>
</mat-card>

